<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.harshal.alfred-ssh-manager</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1F799A78-B721-59FF-904B-2CD2076F5040</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>336C20FB-968A-5240-B587-DF11A64FA957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>200BBA4A-B939-5B54-ABF5-5490DF8A5797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4036805-1413-5521-8ECD-87B0885CC18F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DE96091-0621-5111-B6B3-84B879830B10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62330554-FED6-521F-8CAC-AC49836161FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02B04FF4-6B00-5B7F-A8E6-02730953F777</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C8989F6-721F-556E-8021-D7E779DF7569</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8CC92644-A18B-5A16-866D-6792FBA045D9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5093B726-969D-5D10-A6C5-A3972C36A942</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6B5EE34C-EFE1-5E3B-8615-7A8E94ADF76E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FBF58E5C-FB48-55F0-B93F-78165E2B5A17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DE244B8E-9BD0-56E3-8E7F-BBE805FDBA45</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98FB7D07-1A69-599A-9CE7-107AD4462848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54939572-1EF0-5F92-A7E5-754128FDBF26</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5093B726-969D-5D10-A6C5-A3972C36A942</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E676E62-EEAF-5A70-9F0F-00DD76BA9599</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E44A2BD-EF5D-5120-9545-12DA1CDD6A71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DE96091-0621-5111-B6B3-84B879830B10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2241166-6E42-565A-AE06-1E550A3B3DDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>336C20FB-968A-5240-B587-DF11A64FA957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD90DA29-DB66-527B-86F6-72BFA763B8B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E44A2BD-EF5D-5120-9545-12DA1CDD6A71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B224D798-FEB1-54EE-831F-7B03C44C2301</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B469F8C0-8A79-5E85-9BE3-89FF8BFB0F46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B259C123-AD27-53D9-A863-C565CE2D6C59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>336C20FB-968A-5240-B587-DF11A64FA957</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4036805-1413-5521-8ECD-87B0885CC18F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98FB7D07-1A69-599A-9CE7-107AD4462848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B469F8C0-8A79-5E85-9BE3-89FF8BFB0F46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98FB7D07-1A69-599A-9CE7-107AD4462848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DBCEF5D3-B5C3-54A9-B274-7517AE2DE2E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B259C123-AD27-53D9-A863-C565CE2D6C59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAE0B481-F9F8-50F6-8EDB-141AF6785D17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2241166-6E42-565A-AE06-1E550A3B3DDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2753926-0A3B-5858-A9A9-66D892CFC4CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F799A78-B721-59FF-904B-2CD2076F5040</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harshal Ranjhani</string>
	<key>description</key>
	<string>Search, alias, inspect and launch OpenSSH sessions.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred SSH Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>0</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading SSH hosts…</string>
				<key>script</key>
				<string>/usr/bin/python3 scripts/ssh_search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search SSH destinations, aliases, and recent sessions</string>
				<key>title</key>
				<string>SSH Manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD90DA29-DB66-527B-86F6-72BFA763B8B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ssha</string>
				<key>queuedelaycustom</key>
				<integer>0</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading SSH hosts…</string>
				<key>script</key>
				<string>/usr/bin/python3 scripts/alias_add.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>name=target [--fav] [--tag tag] [--description text]</string>
				<key>title</key>
				<string>Create SSH alias</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DBCEF5D3-B5C3-54A9-B274-7517AE2DE2E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sshrm</string>
				<key>queuedelaycustom</key>
				<integer>0</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading SSH hosts…</string>
				<key>script</key>
				<string>/usr/bin/python3 scripts/alias_remove.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find an Alfred alias to remove</string>
				<key>title</key>
				<string>Remove SSH alias</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EAE0B481-F9F8-50F6-8EDB-141AF6785D17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sshforget</string>
				<key>queuedelaycustom</key>
				<integer>0</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading SSH hosts…</string>
				<key>script</key>
				<string>/usr/bin/python3 scripts/history_forget.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Remove an entry from Recent</string>
				<key>title</key>
				<string>Forget SSH session</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2753926-0A3B-5858-A9A9-66D892CFC4CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sshconf</string>
				<key>subtext</key>
				<string>Open ~/.ssh/config in your default editor</string>
				<key>text</key>
				<string>Edit SSH config</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B224D798-FEB1-54EE-831F-7B03C44C2301</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sshhosts</string>
				<key>subtext</key>
				<string>Open ~/.ssh/etc_hosts in your default editor</string>
				<key>text</key>
				<string>Edit custom SSH hosts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>200BBA4A-B939-5B54-ABF5-5490DF8A5797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/action.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E44A2BD-EF5D-5120-9545-12DA1CDD6A71</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/alias_mutate.py add "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B259C123-AD27-53D9-A863-C565CE2D6C59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/alias_mutate.py remove "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2241166-6E42-565A-AE06-1E550A3B3DDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/history_mutate.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F799A78-B721-59FF-904B-2CD2076F5040</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/edit_shortcut.py config</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B469F8C0-8A79-5E85-9BE3-89FF8BFB0F46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 scripts/edit_shortcut.py hosts</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4036805-1413-5521-8ECD-87B0885CC18F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:ssh_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ssh</string>
						<key>outputlabel</key>
						<string>SSH</string>
						<key>uid</key>
						<string>02B04FF4-6B00-5B7F-A8E6-02730953F777</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:ssh_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sftp</string>
						<key>outputlabel</key>
						<string>SFTP</string>
						<key>uid</key>
						<string>8CC92644-A18B-5A16-866D-6792FBA045D9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:ssh_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>Copy</string>
						<key>uid</key>
						<string>6B5EE34C-EFE1-5E3B-8615-7A8E94ADF76E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:ssh_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>inspect</string>
						<key>outputlabel</key>
						<string>Inspect</string>
						<key>uid</key>
						<string>DE244B8E-9BD0-56E3-8E7F-BBE805FDBA45</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:ssh_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>edit</string>
						<key>outputlabel</key>
						<string>Edit</string>
						<key>uid</key>
						<string>54939572-1EF0-5F92-A7E5-754128FDBF26</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Other</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2DE96091-0621-5111-B6B3-84B879830B10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ssh {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>62330554-FED6-521F-8CAC-AC49836161FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>sftp {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>4C8989F6-721F-556E-8021-D7E779DF7569</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5093B726-969D-5D10-A6C5-A3972C36A942</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>2</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>Resolved by OpenSSH (ssh -G)</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string>Resolving SSH configuration…</string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>FBF58E5C-FB48-55F0-B93F-78165E2B5A17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SSH command copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E676E62-EEAF-5A70-9F0F-00DD76BA9599</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SSH Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>98FB7D07-1A69-599A-9CE7-107AD4462848</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SSH Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>336C20FB-968A-5240-B587-DF11A64FA957</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred SSH Manager

Search and launch SSH destinations from Alfred while OpenSSH handles connection settings and authentication. The workflow discovers literal `Host` entries in `~/.ssh/config` and its includes, `~/.ssh/etc_hosts`, `/etc/hosts`, and optionally `~/.ssh/known_hosts`. It also stores friendly aliases, favorites, and session history in Alfred's workflow data directory.

## Install

Requires Alfred 5.5 or newer with the Powerpack, macOS, Python 3.9 or newer available at `/usr/bin/python3`, and OpenSSH. Double-click [Alfred-SSH-Manager.alfredworkflow](dist/Alfred-SSH-Manager.alfredworkflow) to import the built workflow. If building from source, run `make build` first. Alfred may ask you to approve the workflow on import.

## Use

Type `ssh` to see favorites and recent hosts, or `ssh prod` to search names, targets, usernames, descriptions, and tags. Search words may be partial or fuzzy. Selecting a host passes its target to OpenSSH; an alias named `prod` targeting `production-api` runs `ssh production-api` and lets OpenSSH resolve its config.

| Key | Action |
| --- | --- |
| Return | Open SSH in Alfred's configured terminal |
| Command + Return | Copy the quoted SSH command |
| Option + Return | Open SFTP in Alfred's configured terminal |
| Control + Return | Show selected fields from `ssh -G` in Alfred's Text View |
| Shift + Return | Open the entry's source file in the default editor |

Useful searches: `ssh :recent`, `ssh :fav`, `ssh :aliases`, `ssh :config`, `ssh :help`, and `ssh :refresh`. The workflow rereads files on every search, so `:refresh` only confirms this. If a normal query has no match, the workflow offers a direct SSH connection to that token.

If a direct connection fails, it may still appear in Recent because the workflow records a launch before SSH exits. Type `sshforget`, find the target, and press Return to remove its history entry. This does not delete SSH config hosts or Alfred aliases.

## Aliases

Use `ssha prod=production-api` to create or update an Alfred alias, then `ssh prod` to connect. Add metadata with `ssha prod=production-api --fav --tag work --description "Main production server"`. Use `sshrm prod` to find and remove aliases. These commands only change `aliases.json`, never SSH config. You can also edit that JSON file from an alias result with Shift + Return. Existing favorite, tags, and description are preserved when updating an alias unless replaced by supplied options.

## Host files and configuration

`sshhosts` opens `~/.ssh/etc_hosts` and creates it if needed. Each row uses `/etc/hosts` syntax, for example `10.10.0.10 nas nas.home`. Both names appear in search; selecting `nas.home` executes `ssh nas.home`. `sshconf` opens `~/.ssh/config`. Paths and source toggles are available in Alfred's Workflow Configuration.

Known-host discovery ignores hashed names and bracketed port entries. Literal SSH `Host` names are discoverable; wildcard and `Match` rules are left to OpenSSH at connection time. Simple `HostName`, `User`, and `Port` values provide search metadata, while `ssh -G` supplies the effective values for inspection.

Alfred stores mutable files under `$alfred_workflow_data`: `aliases.json` and `history.json`. The workflow stores no credentials or keys. Generated terminal command arguments are shell quoted; `ssh -G` runs with a subprocess argument list.

## Development

Run `make test`, `make build`, and `make lint`. The package is written to `dist/Alfred-SSH-Manager.alfredworkflow`. Search can be exercised without Alfred: `python3 scripts/ssh_search.py prod`. Tests create temporary SSH files and do not depend on the machine's live SSH configuration.

To publish a release, push a version tag such as `v1.0.0`. The GitHub Actions release workflow tests and builds that revision, creates a GitHub release, and attaches the `.alfredworkflow` file. Publishing a release manually also triggers an asset build if the release has no workflow file yet.

If a source file is unreadable or aliases JSON is invalid, Alfred shows a warning row while continuing to load healthy sources. If Python is unavailable at `/usr/bin/python3`, install the macOS Command Line Tools or change the interpreter path in `tools/build.py` and rebuild. To change the terminal, use Alfred's Features → Terminal settings; the workflow uses Alfred's Terminal Command action.
</string>
	<key>uidata</key>
	<dict>
		<key>1F799A78-B721-59FF-904B-2CD2076F5040</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>200BBA4A-B939-5B54-ABF5-5490DF8A5797</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>970.0</real>
		</dict>
		<key>2DE96091-0621-5111-B6B3-84B879830B10</key>
		<dict>
			<key>xpos</key>
			<real>480.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>336C20FB-968A-5240-B587-DF11A64FA957</key>
		<dict>
			<key>xpos</key>
			<real>480.0</real>
			<key>ypos</key>
			<real>670.0</real>
		</dict>
		<key>4C8989F6-721F-556E-8021-D7E779DF7569</key>
		<dict>
			<key>xpos</key>
			<real>700.0</real>
			<key>ypos</key>
			<real>110.0</real>
		</dict>
		<key>5093B726-969D-5D10-A6C5-A3972C36A942</key>
		<dict>
			<key>xpos</key>
			<real>700.0</real>
			<key>ypos</key>
			<real>220.0</real>
		</dict>
		<key>62330554-FED6-521F-8CAC-AC49836161FC</key>
		<dict>
			<key>xpos</key>
			<real>700.0</real>
			<key>ypos</key>
			<real>0.0</real>
		</dict>
		<key>7E44A2BD-EF5D-5120-9545-12DA1CDD6A71</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>8E676E62-EEAF-5A70-9F0F-00DD76BA9599</key>
		<dict>
			<key>xpos</key>
			<real>920.0</real>
			<key>ypos</key>
			<real>220.0</real>
		</dict>
		<key>98FB7D07-1A69-599A-9CE7-107AD4462848</key>
		<dict>
			<key>xpos</key>
			<real>700.0</real>
			<key>ypos</key>
			<real>440.0</real>
		</dict>
		<key>A2241166-6E42-565A-AE06-1E550A3B3DDE</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>730.0</real>
		</dict>
		<key>AD90DA29-DB66-527B-86F6-72BFA763B8B9</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>B224D798-FEB1-54EE-831F-7B03C44C2301</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>850.0</real>
		</dict>
		<key>B259C123-AD27-53D9-A863-C565CE2D6C59</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
		<key>B4036805-1413-5521-8ECD-87B0885CC18F</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>970.0</real>
		</dict>
		<key>B469F8C0-8A79-5E85-9BE3-89FF8BFB0F46</key>
		<dict>
			<key>xpos</key>
			<real>260.0</real>
			<key>ypos</key>
			<real>850.0</real>
		</dict>
		<key>DBCEF5D3-B5C3-54A9-B274-7517AE2DE2E3</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
		<key>EAE0B481-F9F8-50F6-8EDB-141AF6785D17</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>730.0</real>
		</dict>
		<key>F2753926-0A3B-5858-A9A9-66D892CFC4CC</key>
		<dict>
			<key>xpos</key>
			<real>40.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>FBF58E5C-FB48-55F0-B93F-78165E2B5A17</key>
		<dict>
			<key>xpos</key>
			<real>700.0</real>
			<key>ypos</key>
			<real>330.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.ssh/config</string>
				<key>placeholder</key>
				<string>~/.ssh/config</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>OpenSSH user configuration file</string>
			<key>label</key>
			<string>SSH config</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>SSH_CONFIG</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.ssh/etc_hosts</string>
				<key>placeholder</key>
				<string>~/.ssh/etc_hosts</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Additional hosts in /etc/hosts syntax</string>
			<key>label</key>
			<string>Custom hosts</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CUSTOM_HOSTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Discover non-local system hosts</string>
			<key>label</key>
			<string>Read /etc/hosts</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>READ_ETC_HOSTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Include previously connected hosts</string>
			<key>label</key>
			<string>Read known_hosts</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>READ_KNOWN_HOSTS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Show User from simple Host blocks</string>
			<key>label</key>
			<string>Show usernames</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SHOW_USERNAMES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Record session launches in Alfred workflow data</string>
			<key>label</key>
			<string>Enable history</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ENABLE_HISTORY</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>CUSTOM_HOSTS</key>
		<string>~/.ssh/etc_hosts</string>
		<key>ENABLE_HISTORY</key>
		<true/>
		<key>READ_ETC_HOSTS</key>
		<true/>
		<key>READ_KNOWN_HOSTS</key>
		<true/>
		<key>SHOW_USERNAMES</key>
		<true/>
		<key>SSH_CONFIG</key>
		<string>~/.ssh/config</string>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
